{% extends 'base.html' %}

{% block welcome_img %}
<!-- Page Header -->
<header class="masthead"
  style="background-image: url('https://cdn.pixabay.com/photo/2016/03/26/23/00/umbrellas-1281751_960_720.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Weather</h1>
          <span class="subheading">Current weather for Kraków and a short forecast.</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block main_content %}
<div class="container">
    <div><h2 class="weather_header">Current weather in Cracow</h2></div>
    <div class="row">
      <div class="col-lg-3 mx-auto weather_img">
        <img src="../static/img/weather_icons/{{ current_weather['weather'][0]['icon'] }}.png">
      </div>
      <div class="col-lg-4 mx-auto">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">Air temperature: <span class="cond_value">{{ current_weather['temp'] }} ℃</span></li>
            <li class="list-group-item bg-light">Perceived temperature: <span class="cond_value">{{ current_weather['feels_like'] }} ℃</span></li>
            <li class="list-group-item bg-light">Atmospheric pressure: <span class="cond_value">{{ current_weather['pressure'] }} hPa</span></li>
            <li class="list-group-item bg-light">Relative humidity: <span class="cond_value">{{ current_weather['humidity'] }} %</span></li>
          </ul>
      </div>
      <div class="col-lg-4 mx-auto">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">Wind speed: <span class="cond_value">{{ current_weather['wind_speed'] }} m/s</span></li>
            <li class="list-group-item bg-light">Cloudiness: <span class="cond_value">{{ current_weather['clouds'] }} %</span></li>
            <li class="list-group-item bg-light">Visibility: <span class="cond_value">{{ current_weather['visibility'] }} meters</span></li>
            <li class="list-group-item bg-light">UV index: <span class="cond_value">{{ current_weather['uvi'] }}</span></li>
          </ul>
      </div>
    </div>
    <div><h2 class="weather_header">48-hours forecast</h2></div>
    <div class="row weather-row">
        <div class="col col-lg-8 mx-auto">
            <div id='chart' class='chart'”></div>
        </div>
    </div>





{% endblock %}

{% block scripts %}

{{ super() }}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}
